<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bind</key>
		<integer>1</integer>
		<key>name</key>
		<string>FuncCELL</string>
		<key>height</key>
		<integer>90</integer>
		<key>desc</key>
		<string>描述： CCUILayoutBaseTabVC + plist 创建</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>2</integer>
		<key>name</key>
		<string>FuncCELL</string>
		<key>height</key>
		<integer>90</integer>
		<key>desc</key>
		<string>描述： CCUILayoutBaseVC + plist 创建</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>3</integer>
		<key>name</key>
		<string>FuncCELL</string>
		<key>height</key>
		<integer>90</integer>
		<key>desc</key>
		<string>描述： CCUILayoutBaseTabVC + 实例数组 创建</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>4</integer>
		<key>name</key>
		<string>FuncCELL</string>
		<key>height</key>
		<integer>90</integer>
		<key>desc</key>
		<string>描述： CCUILayoutBaseVC + 实例数组 创建</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>5</integer>
		<key>name</key>
		<string>FuncCELL</string>
		<key>height</key>
		<integer>90</integer>
		<key>desc</key>
		<string>描述： CCUIContainerBaseView + plist 创建</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>6</integer>
		<key>name</key>
		<string>FuncCELL</string>
		<key>height</key>
		<integer>90</integer>
		<key>desc</key>
		<string>描述： CCUILayoutBaseView + 实例数组 创建</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>7</integer>
		<key>name</key>
		<string>FuncCELL</string>
		<key>height</key>
		<integer>90</integer>
		<key>desc</key>
		<string>描述：一个没有写好的案例</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>8</integer>
		<key>name</key>
		<string>FuncCELL</string>
		<key>height</key>
		<integer>90</integer>
		<key>desc</key>
		<string>描述： 电子控工页面调优模拟&lt;对 CCUITimeChLine 工具进行调优&gt;</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>9</integer>
		<key>name</key>
		<string>FuncCELL</string>
		<key>height</key>
		<integer>90</integer>
		<key>desc</key>
		<string>描述： 使用 CCUILayoutBaseScrollView 实现的 demo</string>
	</dict>
</array>
</plist>
