<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bind</key>
		<integer>9</integer>
		<key>name</key>
		<string>FuncCELL</string>
		<key>height</key>
		<integer>90</integer>
		<key>desc</key>
		<string>描述： 使用 CCUIContainerBaseScrollView 实现的 demo</string>
	</dict>
</array>
</plist>
