<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bind</key>
		<integer>1</integer>
		<key>name</key>
		<string>WDZElectrContrDetailVedioHandleView</string>
		<key>height</key>
		<integer>93</integer>
		<key>desc</key>
		<string>👉描述：视频控制视图 </string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>2</integer>
		<key>name</key>
		<string>WDZElectrContrDetailVedioBarView</string>
		<key>height</key>
		<integer>0</integer>
		<key>desc</key>
		<string>👉描述：视频控制视图 </string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>-1</integer>
		<key>name</key>
		<string>CCUILayoutSegLineView</string>
		<key>height</key>
		<integer>10</integer>
		<key>desc</key>
		<string>【分割线】</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>3</integer>
		<key>name</key>
		<string>WDZElectrContrDetailActHeadView</string>
		<key>height</key>
		<integer>50</integer>
		<key>desc</key>
		<string>👉描述：【今日历史服务 HeaderView 】电子控工·类似于TableView 中 section 的 HeadView 的 view· View ·工位详情-创建工单·</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>4</integer>
		<key>name</key>
		<string>WDZElectrContrDetailOrderInfoView</string>
		<key>height</key>
		<integer>160</integer>
		<key>desc</key>
		<string>👉描述：电子控工·详情描述· View</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>-1</integer>
		<key>name</key>
		<string>CCUIContainerSegLineView</string>
		<key>height</key>
		<integer>10</integer>
		<key>desc</key>
		<string>【分割线】</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>5</integer>
		<key>name</key>
		<string>WDZElectrContrDetailActHeadView</string>
		<key>height</key>
		<integer>50</integer>
		<key>desc</key>
		<string>👉描述：【今日历史服务 HeaderView 】电子控工·类似于TableView 中 section 的 HeadView 的 view· View ·今日历史服务·</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>6</integer>
		<key>name</key>
		<string>WDZElectrContrDetailHistoryServeView</string>
		<key>height</key>
		<integer>130</integer>
		<key>desc</key>
		<string>👉描述：电子控工·历史服务· View  ·今日历史服务·</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>-2</integer>
		<key>name</key>
		<string>CCUILayoutSegLineView</string>
		<key>height</key>
		<integer>80</integer>
		<key>desc</key>
		<string>【分割线】底部留白，美观效果</string>
	</dict>
</array>
</plist>
