<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bind</key>
		<integer>0</integer>
		<key>name</key>
		<string>WDZSegLineView</string>
		<key>height</key>
		<integer>10</integer>
		<key>desc</key>
		<string>【分割线】</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>1</integer>
		<key>name</key>
		<string>WDZMyInfoItem00</string>
		<key>height</key>
		<integer>50</integer>
		<key>desc</key>
		<string>👉描述：头像</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>-1</integer>
		<key>name</key>
		<string>WDZSegLineView</string>
		<key>height</key>
		<integer>10</integer>
		<key>desc</key>
		<string>【分割线】</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>2</integer>
		<key>name</key>
		<string>WDZMyInfoItem00</string>
		<key>height</key>
		<integer>50</integer>
		<key>desc</key>
		<string>👉描述：员工照</string>
	</dict>
	<dict>
		<key>bind</key>
		<string>-2</string>
		<key>name</key>
		<string>WDZSegLineView</string>
		<key>height</key>
		<integer>10</integer>
		<key>desc</key>
		<string>【分割线】</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>3</integer>
		<key>name</key>
		<string>WDZMyInfoItem01</string>
		<key>height</key>
		<integer>50</integer>
		<key>desc</key>
		<string>👉描述：姓名</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>-3</integer>
		<key>name</key>
		<string>WDZMyInfoSegLine</string>
		<key>height</key>
		<integer>10</integer>
		<key>desc</key>
		<string>【分割线】</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>4</integer>
		<key>name</key>
		<string>WDZMyInfoItem01</string>
		<key>height</key>
		<integer>50</integer>
		<key>desc</key>
		<string>👉描述：手机号</string>
	</dict>
	<dict>
		<key>bind</key>
		<string>-4</string>
		<key>name</key>
		<string>WDZSegLineView</string>
		<key>height</key>
		<integer>10</integer>
		<key>desc</key>
		<string>【分割线】</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>5</integer>
		<key>name</key>
		<string>WDZMyInfoItem01</string>
		<key>height</key>
		<integer>50</integer>
		<key>desc</key>
		<string>👉描述：邮箱</string>
	</dict>
	<dict>
		<key>bind</key>
		<string>-5</string>
		<key>name</key>
		<string>WDZSegLineView</string>
		<key>height</key>
		<integer>10</integer>
		<key>desc</key>
		<string>【分割线】</string>
	</dict>
	<dict>
		<key>bind</key>
		<integer>6</integer>
		<key>name</key>
		<string>WDZMyInfoItem01</string>
		<key>height</key>
		<integer>50</integer>
		<key>desc</key>
		<string>👉描述：部门</string>
	</dict>
</array>
</plist>
